.title {
    background-color: #26859D;
    margin: 50px auto;
    padding: 10px 50px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cards {
    .col-xl-4 {
        margin-top: 20px;
        .card {
            height: 232px;
            padding: 20px;
            // background-color: #FFFFFF;
            box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            transition: 0.5s;

            &:hover {
                transform: scale(1.04);
                color: #FFFFFF;
                background-color: #26859D;

                .d-flex {
                    .w-25 {
                        filter: grayscale(100%) brightness(200%) sepia(100%) hue-rotate(185deg) !important;
                    }
                }
            }

            .d-flex {
                .w-25 {
                    // background-color: rgba($color: #26859D, $alpha: 1.0);
                }
            }


            h6 {
                font-family: 'Jost';
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 22px;
            }

            p {
                font-family: 'Judson';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
            }
        }
    }
}